@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 243, 237);
}

img {
    width: 120px;
    height: 180px;
}
 .panel-img {
     margin-bottom: 40px;
 }
.wrapper {
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

.content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-bottom: 1px solid gray;
}

.content:last-child {
border: none;
}

.panel-header {
    background-color: mediumaquamarine;
    padding: 4px 8px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #2e5a45;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #c4c3c3;
}

span {
    padding-bottom: 10px;
    font-weight: bold;
    filter: drop-shadow( 2px 2px 1px gray);
}

.btn {
    padding: 4px 8px;
    border-radius: 10px;
    background: black;
    width: 200px;
    color: #fafafa;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.30);
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    transform: scale(0.96);
    color: rgba(255, 255, 255, 0.9);
    background-color: rgb(70, 69, 69);
}

@media (min-width: 800px) {
    .wrapper {
        flex-direction: row;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: none;
    }
    .content {
        border-bottom: none;
        border-right: 1px solid gray;
    }
}
